pytest
grpcio_tools==1.41.0
wrapt==1.13.2
requests==2.26.0
urllib3==1.26.7
testcontainers==3.4.2
packaging==21.0
aiohttp==3.7.4
celery==5.1.2
contextvars==2.4
Django==3.2.8
elasticsearch==7.15.1
Flask==2.0.2
kafka-python==2.0
gevent==21.8.0
hug==2.6.1
multidict==5.2.0
pika==1.2.0
protobuf==3.18.1
#psycopg2-binary==2.9.1
psycopg[binary]==3.0.1
pymongo==3.12.0
pymysql==1.0.2
pyramid==2.0
PyYAML==6.0
redis==3.5.3
sanic==21.9.1
tornado==6.1
Werkzeug==2.0.2
yarl==1.7.0
mysqlclient==2.1.0
fastapi==0.70.1
uvicorn==0.16.0
gunicorn==20.1.0
streamlit==0.88.0
uvicorn==0.11.8