---
apiVersion: v1
kind: Service
metadata:
  name: carts
  labels:
    name: carts
  namespace: {{ default "sock-shop" .Values.namespace }}
spec:
  ports:
    # the port that this service should serve on
  - port: 80
    targetPort: 80
  selector:
    name: carts
