---
apiVersion: v1
kind: Service
metadata:
  name: orders
  labels:
    name: orders
  annotations:
    prometheus.io.path: "/prometheus"
spec:
  ports:
    # the port that this service should serve on
  - port: 80
    targetPort: 80
  selector:
    name: orders
