worker_processes  5;  ## Default: 1
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  resolver $NAMESERVER valid=5s;
  server { # simple load balancing
    listen          80;
    set $endpoint "$SERVICE"; # This forces nginx to reload the address from the DNS
    location / {
      proxy_pass      http://$endpoint;
    }
  }
}
