---
---
a,
a:focus,
a:hover {
  color: #fff;
}


html {
  background-color: #32324B;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

body {
  color: #eef;
  background-color: #32324B;
}

body {
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #111133;
}

h2 {
  color: #ff194b;
  margin-top: 0;
}

h3 {
  color: #bdf;
}

pre {
  color: #0d0;
  background-color: #000;
  border: 0 solid #000;
}


.page-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 20px 0;
}

.header div.header-home {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.3em 0 0;
  padding: 0 0 0 30px;
  background-image: url({{ site.deploy_doc_url_prefix }}/assets/img/weaveworks-logo.png);
  background-repeat: no-repeat;
  background-position-y: 0.3em;
  background-size: 1em 1em;
}

.header-nav > li {
  display: inline-block;
}
.header-nav > li + li {
  margin-left: 20px;
}
.header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.hero-banner {
  background: url(../img/hero_socks.png);
  margin: 0 0 2em;
}

.hero {
  padding: 20% 5% 10%;
}

.hero > h1 {
  color: #ff194b;
  font-size: 4em;
}
.hero > h2 {
  color: #bdf;
  font-size: 1.8em;
}

.hero p {
  font-size: 1.1em;
}
.hero p.lead {
  color: #fff;
  font-size: 1.7em;
}

.hero p a,
.hero p a:focus,
.hero p a:hover {
  color: #00d2ff;
}

.inner {
  text-align: left;
}

.docs-menu {
  padding-left: 0;
  font-size: 1.1em;
}

.docs-menu span {
  color: #bdf;
}
.docs-menu span,
.docs-menu a {
  padding: 0.2em;
}

.docs-menu ul {
  padding-left: 10px;
}
.docs-menu li {
  list-style-type: none;
}

table.user-creds td {
  padding: 0.2em 0.5em;
}

table.user-creds thead tr td {
  font-weight: bold;
  color: #bdf;
}

table.user-creds tbody tr td {
  border-top: 1px solid #bdf;
  font-weight: normal;
  font-size: 1.0em;
}

.inner .row .col-sm-8 p {
  font-size: 1.2em;
}

.inner .row .col-sm-8 p a {
  text-decoration: underline;
}


.footer {
  margin-top: 3em;
}

@media (min-width: 768px) {
  .header-home {
    float: left;
  }
  .header-nav {
    float: right;
  }
}

@media (min-width: 768px) {
  .page-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .page-container {
    width: 800px;
  }
}

code.highlighter-rouge {
  color: #0d0;
  background:#32324B;
  font-weight:400;
  font-style: normal;
}
