name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # important parameter

      - name: Configure Git
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.0

      - name: Run chart-releaser
        uses: stecky/yet-another-chart-releaser-action@v1
        with:
          charts_dir: charts
          charts_repo_url: https://raw.githubusercontent.com/darrylweaver/microservices-demo/gh-pages/
        env:
          YACR_TOKEN: "${{ secrets.HELM_CHART_RELEASE_TOKEN }}"
